html, body {
  height: 100%;
  width: 100%;
}
*
{
	margin: 0;
	padding: 0;
}
body
{
	background-color: #e5e5e5;
}
main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #a4e5a4, skyblue);
}
section
{
	display: flex;
	flex-direction: column;
	height: 784px;
	width: 571px;
	margin-top: 166px;
	margin-bottom: 167px;
	border-radius: 0px;
	background: #FFFFFF;
	padding-top: 88px;
	padding-left: 40px;
	padding-right: 40px;
}
section h1
{
	height: 39px;
	width: 572px;
	left: 0px;
	top: 0px;
	border-radius: nullpx;
	font-family: Inter;
	font-size: 32px;
	font-weight: 500;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: center;
	color: #555555;
	
}
#description
{
	align-self: center;
	height: 126px;
	width: 491px;
	left: 0px;
	top: -2px;
	border-radius: ;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;
	color: #555555;
	margin-bottom: 65px;
}
#accueil
{
	display: ;
}

form
{
	display:flex;
	flex-direction: column;
	align-items: center;
}
form label
{
	height: 17px;
	width: 429px;
	align-self: flex-start;
	margin-left: 35px;
	left: 0px;
	top: 0px;
	border-radius: nullpx;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	color: #555555;
}
form input
{
	height: 59px;
	width: 491px;
	margin-top: 15px;
	margin-bottom: 45px;
	left: 0px;
	top: 32px;
	border-radius: 0px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
}
[type="submit"]
{
	height: 59px;
	width: 226px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
	background: #028A3D;
	color: #fff;
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	box-shadow: 1px 10px 6px -4px #e5e5e5;

}
#form-questions h1
{
	height: 33px;
	width: 491px;
	margin-bottom: 31.43px;
	top: -0.4296875px;
	border-radius: ;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;
	color: #555555;

}
#questions-number
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: Inter;
	height: 33px;
	width: 491px;
	margin-bottom: 67px;
	margin-left: 0px;
	margin-top: 0px;
	border-radius: nullpx;
	font-size: 14px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
}
#radio-style
{
	height: 59px;
	width: 491px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 36px;
	border-radius: 0px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
}
[type="radio"]
{
	height: 20px;
	width: 20px;
	margin-left: 19px;
	margin-top: 19px;
	border-radius: 20px;
	border: 1px solid #DDDDDD;
}
#radio-style label
{
	display: inline-block;
	height: 30px;
	width: 385px;
	margin-left: 18px;
	margin-top: 19px;
	border-radius: nullpx;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;

}
#form-questions [type="submit"]
{
	margin-top: 50px;
}
#submit-style
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#orange
{
	background-color: #db8f00;
	border: 1px solid #db8f00;
}
#green
{
	background-color: #8ba78b;
	border: 1px solid #8ba78b;
}