html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #a4e5a4, skyblue);
}
main
{
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	width: 20%;
	border-radius: 0px;
	background: #FFFFFF;
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
}
section h1
{
	height: 39px;
	border-radius: nullpx;
	font-family: Inter;
	font-size: 32px;
	font-weight: 500;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: center;
	color: #555555;
	
}
#description
{
	align-self: center;
	height: 126px;
	/* width: 80%; */
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;
	color: #555555;
	margin-bottom: 65px;
}
form
{
	display:flex;
	flex-direction: column;
	align-items: center;
}
form label
{
	align-self: flex-start;
	margin-left: 35px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	color: #555555;
}
form input
{
	height: 59px;
	width: 100%;
	padding: 21px;
	margin-top: 15px;
	margin-bottom: 45px;
	left: 0px;
	top: 32px;
	border-radius: 0px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	outline: none;
}
[type="submit"]
{
	height: 59px;
	width: 226px;
	padding: 0;
	left: 0px;
	top: 0px;
	border-radius: 0px;
	background: #028A3D;
	color: #fff;
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	box-shadow: 1px 10px 6px -4px #e5e5e5;
	cursor: pointer;
	
}
#form-questions
{
	display: none;
	flex-direction: column;
	justify-content: space-around;
	gap: 10px;
	width: 400px;
}
#form-questions h1
{
	height: 15%;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;
	color: #555555;

}
#questions-number
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
}
#head-questions{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 200px;
}
.radio-style
{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	width: 100%;
}
.radio-style label{
	align-self: center;
}
input[type="radio"]
{
	appearance: none;
	width: 2px;
    height: 2px;
	border: 1px dotted #028A3D;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
	margin-top: auto;
	margin-bottom: auto;
}
input[type="radio"]:checked {
    background-color: #028A3D; 
    border-color: #028A3D;
}
#answer-container{
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	border: 1px solid #028A3D;
}

#radios
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 450px;
	width: 100%;
}
button
{
	margin-top: 50px;
}
#submit-style
{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}
#submit-style button{
	width: 150px;
}
#orange
{
	background-color: #EC880C;
	border: 1px solid #EC880C;
}
#green
{
	background-color: #028A3D;
	border: 1px solid #028A3D;
}
#result
{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#result h1
{
	width: 572px;
	font-family: Inter;
	font-size: 40px;
	font-weight: 500;
	text-align: center;

}
#result p
{
	width: 572px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.success-wrong img
{
	width: 25%;
}
.success
{
	display: none;
}
.hidden
{
	display: none;
}
.show
{
	display: block;
}
button
{
	height: 59px;
	width: 226px;
	border-radius: 0px;
	border: none;
	color: #fff;
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;

}
#crossdiv
{
	width: 100%;
	height: 10px;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 62px;
	border-radius: 10px;
	background-color: #cecece;
}
#crossbar
{
	animation-duration: 60s;
	animation-name: slidein;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	border: 1px solid #cecece;
}
.validate
{
	color: red;
	width: 80%;
	margin: -30px 0 10% 0;
}
@keyframes slidein {
  from {
    margin-left: 0%;
    width: 100%;
	background-color: green;
  }
  75% {
    margin-left: 0%;
    width: 45%;
		background-color: orange;
  }
 
  to {
    margin-left: 0%;
    width: 0%;
		background-color: red;
  }
}