html, body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #a4e5a4, skyblue);
}
main
{
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section
{
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 20%;
	background: #FFFFFF;
	padding-left: 5%;
	padding-right: 5%;
}
section h1
{
	font-family: Inter;
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	color: #555555;
	
}
#accueil{
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#description
{
	font-family: Inter;
	font-size: 16px;
	text-align: center;
	color: #555555;
}
#input-section{
	width: 100%;
}
.input-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 130px;
}
form
{
	display:flex;
	flex-direction: column;
	align-items: center;
}
form label
{
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	color: #555555;
}
form input
{
	height: 59px;
	width: 100%;
	padding: 21px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	outline: none;
}
[type="submit"]
{
	height: 59px;
	width: 226px;
	background: #028A3D;
	color: #fff;
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
#form-questions
{
	display: none;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
#form-questions h1
{
	height: 15%;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: #555555;

}
#questions-number
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
}
#head-questions{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 150px;
}
.radio-style
{
	display: flex;
	align-items: center;
	width: 100%;
}
.radio-style label{
	align-self: center;
}
input[type="radio"]
{
	appearance: none;
	width: 2px;
	height: 2px;
	transform: scale(0.7);
	border: 1px solid #028A3D;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
input[type="radio"]:checked {
    background-color: #028A3D; 
    border-color: #028A3D;
}
#answer-section{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
#answer-container{
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	border: 1px solid #028A3D;
}
#radios
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 450px;
	width: 100%;
}
#submit-style
{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}
#submit-style button{
	width: 150px;
}
#orange
{
	background-color: #EC880C;
	border: 1px solid #EC880C;
}
#green
{
	background-color: #028A3D;
	border: 1px solid #028A3D;
}
#result
{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#result h1
{
	font-family: Inter;
	font-size: 40px;
	font-weight: 500;
	text-align: center;

}
#result p
{
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.success-wrong img
{
	width: 75%;
}
.success
{
	display: none;
}
.hidden
{
	display: none;
}
.show
{
	display: block;
}
button
{
	height: 59px;
	width: 226px;
	border: none;
	color: #fff;
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	text-align: center;

}
#crossdiv
{
	width: 100%;
	height: 10px;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 62px;
	border-radius: 10px;
	background-color: #cecece;
}
#crossbar
{
	animation-duration: 60s;
	animation-name: slidein;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	border: 1px solid #cecece;
}
.validate
{
	color: red;
	font-size: 11px;
}
@keyframes slidein {
  from {
    margin-left: 0%;
    width: 100%;
	background-color: green;
  }
  75% {
    margin-left: 0%;
    width: 45%;
		background-color: orange;
  }
 
  to {
    margin-left: 0%;
    width: 0%;
		background-color: red;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
	section{
		width: 30%;
		padding-top: 0;
		padding-left: 2%;
		padding-right: 2%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	section h1{
		font-size: 26px;
	}
	#accueil{
		gap: 20px;
	}
	#description{
		font-size: 14px;
	}
	.validate{
		font-size: 10px;
	}
	form label{
		font-size: 14px;
	}
	form input{
		height: 30px;
	}
	#head-questions{
		height: 100px;
	}
	#head-questions h1{
		font-size: 14px;
	}
	#answer-container{
		height: 40px;
	}
	input[type="radio"]{
		transform: scale(0.5);
		border-radius: 100%;
	}
}